.error {
  text-align: center;
  color: #ca0fa7;
}

.reveal {
  visibility: visible;
  opacity: 1;
  transition: opacity 400ms ease-in-out;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.header {
  text-align: center;
  margin-bottom: 80px;
}

.zip-form {
  display: inline-block;
  width: auto;
}

.zip,
.zip-form button {
  width: auto;
}

.zip {
  display: inline-block;
  width: 150px;
  border-top: none;
  border-right: none;
  border-bottom: 3px solid #6c757d;
  border-left: none;
  border-radius: 0;
  text-align: center;
}

.zip-form button {
  display: none;
}

.zip-form:focus button {
  display: inline;
}

.temp {
  font-size: 32px;
  font-weight: 500;
}

.temp__deg {
  display: inline-block;
  border-radius: 5px;
  font-size: 70px;
  font-weight: 700;
}

.outfit__descr {
  font-size: 26px;
  font-weight: 200;
}

b {
  font-size: 1.1em;
  font-weight: bold;
  color: #007bff;
}

.outfit__descr b {
  font-weight: 400;
}